@font-face {
      font-family: 'Maniflont Grotesk Web';
      src: url('/assets/fonts/maniflont-grotesk-web.woff2') format('woff2'),
          url('/assets/fonts/maniflont-grotesk-web.woff') format('woff');
      font-weight: normal;
      font-style: normal;
      font-display: swap;
  }

  @font-face {
      font-family: 'Augillion Web';
      src: url('/assets/fonts/augillion-regular-subset.woff2') format('woff2'),
          url('/assets/fonts/augillion-regular-subset.woff') format('woff');
      font-weight: normal;
      font-style: normal;
      font-display: swap;
  }