
// Content width
$text-max-width: 980px;
$text-max-width-unitless: 980;
$content-max-width: 1200px;

$nav-min-width: 30em;


// Typography generated through the Utopia type calculator
// @link https://utopia.fyi/type/calculator?c=320,17,1.2,980,24,1.2,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l

$font-size--1: calc(
  ((14.40 / 16) * 1rem) + (17.60 - 14.40) * calc((100vw - 320 / 16 * 1rem) / (#{$text-max-width-unitless} - 320))
);

$font-size-0: calc(
  ((18.00 / 16) * 1rem) + (22.00 - 18.00) * calc((100vw - 320 / 16 * 1rem) / (#{$text-max-width-unitless} - 320))
);

$font-size-1: calc(
  ((22.50 / 16) * 1rem) + (27.50 - 22.50) * calc((100vw - 320 / 16 * 1rem) / (#{$text-max-width-unitless} - 320))
);

$font-size-2: calc(
  ((28.13 / 16) * 1rem) + (34.38 - 28.13) * calc((100vw - 320 / 16 * 1rem) / (#{$text-max-width-unitless} - 320))
);

$font-size-3: calc(
  ((35.16 / 16) * 1rem) + (42.97 - 35.16) * calc((100vw - 320 / 16 * 1rem) / (#{$text-max-width-unitless} - 320))
);

$font-size-4: calc(
  ((43.95 / 16) * 1rem) + (53.71 - 43.95) * calc((100vw - 320 / 16 * 1rem) / (#{$text-max-width-unitless} - 320))
);


$font-size--1-max: calc(
  ((14.40 / 16) * 1rem) + (17.60 - 14.40) * calc((#{$text-max-width} - 320 / 16 * 1rem) / (#{$text-max-width-unitless} - 320))
);

$font-size-0-max: calc(
  ((18.00 / 16) * 1rem) + (22.00 - 18.00) * calc((#{$text-max-width} - 320 / 16 * 1rem) / (#{$text-max-width-unitless} - 320))
);

$font-size-1-max: calc(
  ((22.50 / 16) * 1rem) + (27.50 - 22.50) * calc((#{$text-max-width} - 320 / 16 * 1rem) / (#{$text-max-width-unitless} - 320))
);

$font-size-2-max: calc(
  ((28.13 / 16) * 1rem) + (34.38 - 28.13) * calc((#{$text-max-width} - 320 / 16 * 1rem) / (#{$text-max-width-unitless} - 320))
);

$font-size-3-max: calc(
  ((35.16 / 16) * 1rem) + (42.97 - 35.16) * calc((#{$text-max-width} - 320 / 16 * 1rem) / (#{$text-max-width-unitless} - 320))
);

$font-size-4-max: calc(
  ((43.95 / 16) * 1rem) + (53.71 - 43.95) * calc((#{$text-max-width} - 320 / 16 * 1rem) / (#{$text-max-width-unitless} - 320))
);


// Colours
$color-text: #261307;
$color-text-secondary: #D12D00;
$color-light: #fff6ed;
$color-light-shadow: #EBE0CE;
$color-secondary: #FFD438;