<template>
    <header class="article-header">
        <h1>
          {{ name }}
        </h1>
        <p>
          {{ description.content }}
        </p>
    </header>
</template>

<script setup lang="ts">

  type metaItem = {
    name: string,
    content: string
  };

  const props = defineProps<{
      name: string,
      meta: metaItem[]
  }>();
  
  const description: metaItem = props.meta.filter((meta: metaItem) => meta.name == "description")[0];
</script>