<template>
  <p class="center base-return-top">
    <a class="button" href="#">Return to top ↑</a>
  </p>
  <footer class="base-footer">
    <div class="base-footer-container">
    <div class="base-footer-webring-list">
      <p class="base-footer-webring-intro">
        Member of the following webrings:
      </p>
      <div class="base-footer-webring">
        <p class="base-footer-webring-name">
          <img class="base-footer-xxiivv-logo" alt="" src="/assets/webring-xxiivv-logo.svg" />
          XXIIVV webring
        </p>
        <p class="base-footer-webring-links">
          <a href="https://webring.xxiivv.com/">Index</a>
        </p>
      </div>
      <div class="base-footer-webring">
        <p class="base-footer-webring-name">
          no js webring
        </p>
        <p class="base-footer-webring-links">
          <a href="https://nojs.sugarfi.dev/prev.php?url=https://njoqi.me">Previous</a>
          <a href="https://nojs.sugarfi.dev/rand.php">Random</a>
          <a href="https://nojs.sugarfi.dev">Index</a>
          <a href="https://nojs.sugarfi.dev/next.php?url=https://njoqi.me">Next</a>
        </p>
      </div>
    </div>
    <p class="base-footer-links">
      <span class="base-footer-nav">
        <router-link to="/">Home</router-link>
        <router-link to="/sitemap">Sitemap</router-link>
        <a class="mail-link" href="mailto:hello@njoqi.me">Email me</a>
      </span>
      <small class="base-footer-text base-footer-fonts">
        Set in <a href="https://github.com/njoqi/Maniflont-Grotesk">Maniflont Grotesk</a> and <a href="https://www.myfonts.com/fonts/sarid-ezra/augillion/">Augillion</a>.
      </small>
    </p>
    <p class="base-footer-copyright">
      <small>
        Website and contents <a href="https://creativecommons.org/publicdomain/zero/1.0/"><abbr title="Creative Commons Zero Public Domain Dedication">CC0</abbr></a> (unless specified otherwise).
      </small>
    </p>
    <p class="base-footer-copyright">
      <small>
        <a href="https://codeberg.org/njoqi/njoqi-vite">Source code</a> available on Codeberg and <a href="https://unlicense.org/">unlicensed</a>
      </small>
    </p>
  </div>
  </footer>
</template>

<style lang="scss">
  @import "src/components/_variables.scss";

  .base-return-top {
    font-size: $font-size--1;
    margin: 3em auto;

    @media all and (min-width: $text-max-width) {
      font-size: $font-size--1-max;
    }
  }

  .base-footer {
    padding: 2em 1.5em;
    background: $color-dark;
    color: $color-light;

    a {
      color: $color-light;
    }

    a:hover,
    a:focus {
      color: $color-primary;
    }
  }

  .base-footer-container {
    display: flex;
    flex-direction: column;
    font-size: $font-size--1;

    @media all and (min-width: $text-max-width) {
      font-size: $font-size--1-max;
    }
  }

  .base-footer-webring-intro,
  .base-footer-webring-name,
  .base-footer-webring-links {
    display: flex;
    align-items: center;
    max-width: none;
    margin: 0;
  }

  .base-footer-links {
    text-align: center;
    margin: 0;
  }

  .base-footer-webring {
    margin-bottom: 1em;
    background: $color-light;
  }

  .base-footer-webring-list {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    margin-bottom: 1em;
  }

  .base-footer-links {
    justify-content: space-between;
    flex-direction: column;
  }

  .base-footer-webring-intro,
  .base-footer-webring-name,
  .base-footer-webring-links {
    justify-content: center;
  }

  .base-footer-webring-intro {
    margin-bottom: 1em;
  }

  .base-footer-webring {
    border: 0.2em solid;
    border-top-color: white;
    border-left-color: white;
    border-right-color: #424242;
    border-bottom-color: #424242;
    flex-direction: column;
  }

  .base-footer-webring-name {
    padding: 0.2em 4em 0.2em 0.5em;
    background: #000082;
    justify-content: flex-start;
    color: white;
  }

  .base-footer-webring-links {
    background-color: #c3c3c3;
    flex-wrap: wrap;
    padding: 0.5em 1em;
    gap: 0.5em 1em;
  }

  .base-footer-webring-links > a {
    color: $color-dark;
    text-decoration: none;
  }
  
  .base-footer-webring-links > a:hover,
  .base-footer-webring-links > a:focus {
    color: $color-dark;
    text-decoration: underline;
  }
  
  .base-footer-webring-name + .base-footer-webring-links {
    margin-top: 0em;
  }

  .base-footer-nav {
    display: flex;
    column-gap: 1em;
    margin-bottom: 2em;
    justify-content: center;
  }

  .base-footer-copyright {
    width: 100%;
    margin: 1em 0 0;
    text-align: center;
    max-width: none
  }

  @media all and (min-width: 36rem) {
    .base-footer-container {
      max-width: $text-max-width;
      margin: auto;
      flex-direction: row;
      align-items: flex-start;
      align-content: flex-start;
      flex-wrap: wrap;
    }

    .base-footer-links,
    .base-footer-webring-list {
      width: 50%;
      padding-left: 1em;
    }

    .base-footer-webring-list {
      padding-left: 0;
      padding-right: 1em;
    }

    .base-footer-links {
      text-align: left;
    }

    .base-footer-nav {
      flex-direction: column;
      align-items: flex-start;
    }

    .base-footer-fonts,
    .base-footer-copyright {
      text-align: right;
    }

    .base-footer-fonts {
      margin-top: 0;
    }
  }

  @media all and (min-width: 32rem) {
    .base-footer {
      padding: 2em;
    }
  }

  .base-footer-xxiivv-logo {
    height: 1.6em;
    width: 1.6em;
    padding-right: 0.2em;
    padding-bottom: 0.2em;
    border-radius: 50%;
  }

</style>
