<template>
  <header class="base-header">
    <div class="base-header-wrapper">
      <p class="base-header-home">
        <router-link class="base-header-link" to="/">
          <svg class="base-header-logo" viewBox="0 0 55.298431 62.711136" height="64" width="58">
            <linearGradient id="logo-gradient" x1="0.29" y1="0.05" x2="0.71" y2="0.95">
              <stop id="logo-gradient-start" offset="0%" stop-color="#261307"/>
              <stop id="logo-gradient-end" offset="100%" stop-color="#261307"/>
            </linearGradient>
            <use xlink:href="/assets/logo.svg#logo" />
          </svg><!--
          -->njoqi
        </router-link>
      </p>
      <BaseNav />
    </div>
  </header>
</template>

<script setup lang="ts">
  import BaseNav from './base-nav.vue';
</script>

<style lang="scss">
  @import "src/components/_variables.scss";

  .base-header {
    background-color: $color-primary;
    padding: 0.2em 2em;
  }

  .base-header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
  }

  .base-header-home {
    margin: 0;
    font-size: $font-size-2;

    @media screen and (min-width: $text-max-width) {
      font-size: $font-size-2-max;
    }
  }

  .base-header-link {
    display: inline-block;
    font-family: $font-title;
    color: $color-dark;
    padding: 0.2em 0.6em 0.2em 0;
    text-align: center;
    text-decoration: none;
    border: 0.2rem solid transparent;
    //letter-spacing: 0.125em;
  }

  .base-header-logo {
    height: 1.6em;
    width: 1.6em;
    padding: 0.1em;
    margin-right: 0.2em;
    line-height: 1.5em;
    vertical-align: middle;
    fill: url(#logo-gradient) $color-dark;
    
  }

  #logo-gradient-start,
  #logo-gradient-end {
    transition: stop-color 0.2s;
  }

  .base-header-link:hover,
  .base-header-link:focus {
    color: $color-dark;
    text-decoration: underline;

    #logo-gradient-start {
      stop-color: $color-text-secondary;
    }

    #logo-gradient-end {
      stop-color: $color-primary;
    }
  }

  
</style>
