// Reset / body defaults
*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
  min-height: 100%;
  margin: 0;
  padding: 0;
  line-height: 1.5rem;
  font-size: $font-size-0;
  font-family: $font-body;
  color: $color-dark;
  background: $color-light;
  letter-spacing: 0.02em;

  @media screen and (min-width: $text-max-width) {
    font-size: $font-size-0-max;
  }
}

// Generic text elements
p,
ul,
ol,
blockquote {
  line-height: 1.6em;
}

ul,
ol {
  padding: 0;
  list-style: none;
}

a {
  color: $color-text-secondary;
}

mark {
  display: inline-block;
  vertical-align: middle;
  margin-top: -0.15em;
  line-height: 1em;
  border: solid $color-primary;
  border-width: 0.25em 0.3em 0.05em;
  border-radius: $border-radius;
  background: $color-primary;
}

cite > a,
mark > a {
  color: $color-dark;
}

a:hover,
a:focus {
  color: $color-text-secondary-dark;
}

a:not([href^="/"]):not([href^="#"]):not([href=""]):not(.image-link):not(.mail-link)::after {
  content: "°";
}

h1 {
  line-height: 1.125;
  font-weight: 400;
  font-size: $font-size-4;
  margin: 0.4em 0;
  text-transform: lowercase;
  font-family: $font-title;
  letter-spacing: 0.008em;

  @media screen and (min-width: $text-max-width) {
    font-size: $font-size-4-max;
  }
}

h2 {
  line-height: 1.2;
  font-weight: 400;
  font-size: $font-size-3;
  margin: 1.5em 0 0.25em;

  @media screen and (min-width: $text-max-width) {
    font-size: $font-size-3-max;
  }
}

h3 {
  font-weight: 400;
  font-size: $font-size-2;
  margin: 2em 0 0.5em;

  @media screen and (min-width: $text-max-width) {
    font-size: $font-size-2-max;
  }
}

em {
  font-style: normal;
  border-top: 0.1em solid $color-primary;
  border-bottom: 0.1em solid $color-primary;
}

dt,
dd {
  padding-top: 1em;
}

dt {
  font-weight: 400;
  float: left;
  padding-right: 0.5em;
}

dd {
  margin-left: 2em;
}

small {
  font-size: $font-size--1;
  line-height: 1.4em;

  @media screen and (min-width: $text-max-width) {
    font-size: $font-size--1-max;
  }
}

blockquote {
  border-left: 0.4em solid $color-primary;
  padding-left: 1rem;
}

cite {
  font-style: normal;
  letter-spacing: 0.1em;
  font-size: $font-size--1;
  vertical-align: middle;
  border: 0.25em solid $color-light-shadow;
  display: inline-block;
  margin-top: -0.1em;
  padding: 0 0.3em;
  line-height: 1.45em;

  @media screen and (min-width: $text-max-width) {
    font-size: $font-size--1-max;
  }
}

img {
  max-width: 100%;
  height: auto;
}

button,
.button {
  color: $color-dark;
  font-family: $font-body;
  font-size: $font-size--1;
  padding: 0.4em 0.8em;
  background: transparent;
  border: 0.2rem solid $color-dark;
  border-radius: $border-radius;
  text-decoration: none;

  @media screen and (min-width: $text-max-width) {
    font-size: $font-size--1-max;
  }
}

.button:hover,
.button:focus {
  color: $color-light;
  background-color: $color-dark;
}

.accent {
  color: $color-text-secondary;
}

.bright {
  color: $color-primary;
}

main {
  padding: 1em 1.5em;
  min-height: 50vh;

  @media all and (min-width: 34rem) {
    padding: 1em 2em;
  }
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
blockquote,
.article-header {
  max-width: $text-max-width;
  margin-left: auto;
  margin-right: auto;
}

li {
  margin: 0.25em auto;
}

li::before {
  display: inline-block;
  content: "\2023";
  padding-left: 0.1em;
  padding-right: 0.4em;
}

li:hover::before,
li:active::before {
  transform: scale(1.2) translateX(0.1em);
}

p + p,
ul + p,
ol + p {
  margin-top: 2em;
}

p + ul,
blockquote + p {
  margin-top: 0.5em;
}

.image {
  text-align: center;
  max-width: $content-max-width;
  margin-left: auto;
  margin-right: auto;
}

.center {
  text-align: center;
}

.article-header {
  padding-bottom: 0.6em;
  margin-bottom: 3em;
  border-bottom: 0.2em solid $color-dark;
}

.photograph {
  margin-top: 2em;
  margin-bottom: 2em;
}

.photograph::before {
  content: none;
}
